body {
    font-family: 'Roboto', sans-serif; /* Professional and clean font */
}

.navbar-nav {
    flex-direction: row; /* Ensure items are in a row */
}

.navbar-nav .nav-item {
    text-align: center; /* Center text within each nav item */
}

.navbar-nav .nav-link {
    font-size: 1.2em; /* Make the font size a bit larger for readability */
    color: white; /* Ensure the text color is white for better visibility */
}

.full-height {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./assets/images/nature-background.jpg'); /* Ensure the path is correct */
    background-size: cover;
    background-position: center;
}

.card {
    background: rgba(30, 30, 30, 0.9); /* Darker background with slight transparency */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #91A3B0; /* Pewter Blue font color */
}
